.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba($color: white, $alpha: 0.92);
  left: 0;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  &__card {
    margin: auto;
    background: white;
    height: auto;

    &__footer {
      align-items: center;
      &__topic {
        display: flex;
        flex-direction: column; 
        width: 100%; 
        flex-grow: 1;
        flex-shrink: 1;
        & * { 
          width: 100% !important; 
        }
      }

      &__playload{
        & > *{
          width: 50% !important;
        }
        
      }
    }
  }

  &__url {
    padding: 0.5rem;
    width: 25%;
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 1rem;
    line-height: 1rem;
  }

  &__body {
    &__top {
      width: 100%;
      padding: 0.5rem 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .input__color {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__button {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      height: 100%;
      input {
        width: 100%;
      }
    }
  }
  &__select {
    font-size: 1rem;
    option {
      font-size: 1rem;
      padding: 2rem;
      text-transform: capitalize;
    }
  }
  &__btns {
    display: flex;
    justify-content: space-between;
  }
}

.btn {
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  text-transform: uppercase;

  &__ok {
    background-color: var(--color-cta);
    color: white;
  }
  &__cancel {
    color: var(--color-cta);
    border: 1px solid var(--color-cta);
  }
}
