.card {
  width: 320px;
  height: auto;
  border-radius: 20px;
  padding: 1rem;
  border: 1px solid var(--color-main);
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  position: relative;
  &__header,
  &__body,
  &__footer {
    display: flex;
  }

  &__header,
  &__body {
    border-bottom: 1px solid var(--color-cta);
  }
  &__header {
    justify-content: space-between;
    align-items: center;
    position: relative;
    &__menu{
      &__container{
        position: absolute;
        left: 93%;
        top: 80%;
        z-index: 2;
      }
      &__item{
        background: whitesmoke;
        font-style: normal;
        padding: .5rem 1rem;
        border: 1px solid gray;
        list-style: none;
      }

    }
  }
  &__body {
    flex-direction: column;
    flex: auto;
    padding: 0.5rem;

    &__description {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    &__icon,
    &__description {
      display: flex;
      font-weight: normal;
      text-align: center;
      justify-content: center;
      align-items: center;
    }

    &__icon {
      font-size: 5rem;
      flex: auto;
      min-height: 104px;
    }

  }
  &__footer {
    justify-content: space-between;
    padding: 0.5rem 0;
    align-items: center;;

    &__topic{ 
      display: flex;
      flex-direction: column;
    }

    &__url {
      font-size: 1rem;
      padding: 0.5rem;
      flex-grow: 1;
      flex-shrink: 1;
      width: 100%;
      border: 1px var(--color-main);
      border-style: none none solid none;
    }
    &__btn {
      flex-shrink: 0;
      width: 21%;
      margin-left: 0.5rem;
    }
  }
}

.logger{
  padding: .25rem;
  border-radius: 10px;
  font-size: .8rem;
  border: 1px solid var(--color-cta);
  resize: none;
}