.header {
  display: flex;
  flex-direction: column;
  background: var(--color-header);
  padding: 0.5rem 1rem;
  padding-bottom: 1.5rem;
  margin-bottom: 2rem;
  color: white;
  align-items: center;
  position: relative;

  h1 {
    letter-spacing: 2px;
    margin: 0.5rem 0;
    text-align: center;
  }
  & span {
    font-size: 0.8rem;
    a {
      color: white;
    }
  }
  .input__ {
    &container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      margin-bottom: 0.5rem;
      
    }
    &broker {
      font-size: 1.4rem;
      padding: 0.5rem;
    
    }
    &btn {
      padding: 0.7rem;
      background: white;
      color: white;
      border-radius: 10px;
      text-transform: uppercase;
      text-decoration: none;
      display: flex;
      justify-content: center;
      font-weight: bold;
      box-shadow: 2px 2px 5px gray;
    }
    
    @media only screen and (min-width: 900px) {
      &container {
        flex-direction: row;
        margin-bottom: .3rem;
        align-items: center;
      }
      &broker {
        width: 80%;
        margin-bottom: 0;
        flex-grow: 1;
        flex-shrink: 1;
        width: 10%;
      }
      &btn {
        width: 20%;
        margin-left: 1rem;
      } 
    } 

  }

  .input__label{
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: 1.2rem;
    
    &:first-child{
    margin-left: 0;
    }
    
  }

  .btn_connect {
    background: #8bc34a;
  }
  .btn_connected {
    background: #dd2c00;
  }

  .btn__add {
    border-radius: 50%;
    background: var(--color-cta);
    font-size: 2rem;
    color: white;
    padding: 1rem;
    text-decoration: none;
    line-height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 3%;
    bottom: -25%;
  }
}
