.toast{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  // opacity: 0;

  &__message{
    cursor: default;
    position: fixed;
    z-index: 10;
    top: 80%;
    background: black;
    color: white;
    padding: 1rem 2rem;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    transition: all 0.3s;
    text-transform: uppercase;
  } 
}
