
<!DOCTYPE html>
html(lang="es")
  head
    include /assets/head
    title Dashboard IoT - Xizuth
  body 
    .main#main
      block main 
        include ./base/404
    block footer
      include /template/blocks/footer 