//- todo lo relacionado con opengraph y twittercard
//-  https://webcode.tools/open-graph-generator/

meta(name='twitter:card' content='app')
meta(name='twitter:site' content='@xizuth_tech')
meta(name='twitter:description' content='Dashboard IoT Open source for connection devices like Arduino, ESP8266, ESP32 with a Broker')
meta(name='twitter:app:name:iphone' content='Xizuth IoT') 
meta(name='twitter:app:name:ipad' content='Xizuth IoT') 
meta(name='twitter:app:name:googleplay' content='Xizuth IoT')
meta(name='twitter:app:id:googleplay' content='https://play.google.com/store/apps/dev?id=7182139636058696036')
meta(name='twitter:app:country' content='MX')
meta(property='og:title' content='Dashboard Xizuth IoT')
meta(property='og:site_name' content='Xizuth IoT')
meta(property='og:url' content='https://xizuth-iot.web.app/')
meta(property='og:description' content='Dashboard IoT for connection multi-devices to broker websocket mqtt ')
meta(property='og:type' content='app web')
meta(property='og:image' content='https://xizuth-iot.web.app/assets/img/dasboard_iot_xizuth.png')
