//- todo lo relacionado con opengraph y twittercard
//-  https://webcode.tools/open-graph-generator/

meta(property='og:type', content='profile')
meta(property="og:title" content="Alejandro Leyva | Android Developer" )
meta(property='og:url', content='https://www.alejandro-leyva.com/')
meta(property='og:image', content='https://www.alejandro-leyva.com/assets/imgs/perfil.jpg')
meta(property='profile:first_name', content='Alejandro')
meta(property='profile:last_name', content='Leyva')
meta(property='profile:gender', content='male')
meta(property='profile:username', content='Xizuth')
meta(property="og:site_name" content="Alejandro Leyva Profile")
meta(property="og:description" content="Alejandro Leyva desarrollador, diseñador de Software y Handware, Capacitador y Docente")
meta(name='twitter:card', content='summary')
meta(name='twitter:site', content='@jalm_x')
meta(name='twitter:title', content='Alejandro Leyva | Diseñador & Desarrollador Hardware & Software, Facilitador & Docente')
meta(name='twitter:description', content='Alejandro Leyva desarrollador, diseñador de Software y Handware, Capacitador y Docente')
meta(name='twitter:image', content='https://www.alejandro-leyva.com/assets/imgs/perfil.jpg')
meta(name='twitter:image:alt', content='Alejandro Leyva perfil')