//- //TODO ELIMINAR LAS IMPORTACIONES
//- script(src='https://www.gstatic.com/firebasejs/7.14.2/firebase-app.js')
//- script(src='https://www.gstatic.com/firebasejs/7.14.2/firebase-analytics.js')
//- script(src='https://www.gstatic.com/firebasejs/7.14.2/firebase-auth.js')
//- script(src='https://www.gstatic.com/firebasejs/7.14.2/firebase-database.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js' type='text/javascript')

