<!DOCTYPE html>
html(lang="es")
  head
    include /assets/head
    title Dashboard IoT - Xizuth
  body
    block header 
      include ./blocks/header
      //- include ./blocks/modal_card
    .main#main
      block main 
    block footer