<!DOCTYPE html>
html(lang="es")
  head
    include /assets/head
    title Dashboard IoT - Xizuth
  body
    block header 
      //- include ./blocks/modal_card
      include ./blocks/header
    .main#main
      block main 
      //- include /template/blocks/card
      //- include /template/blocks/toast
    block footer