div(itemscope='' itemtype='http://schema.org/SoftwareApplication').hidden
  span(itemprop='name') Xizuth IoT
  br
  span(itemprop='applicationCategory') Tool
  br
  |     Requires 
  span(itemprop='operatingSystem') Web App
  br
  div(itemprop='aggregateRating' itemscope='' itemtype='http://schema.org/AggregateRating')
    | Rating 
    span(itemprop='ratingValue') 5
    |         (
    span(itemprop='ratingCount') 1000 ratings
    | )
  div(itemprop='offers' itemscope='' itemtype='http://schema.org/Offer')
    span(itemprop='priceCurrency' content='USD')
    |         Price: $
    span(itemprop='price') 0.00
