header.header#header
  h1 Dashboard IoT 
    span
      a(href="https://xizuth.com/" target="_blank") by Xizuth
  .input__container
    input(type="url" placeholder="test.mosquitto.org:1883").input__broker#input-broker
    a.input__btn(href="#" ).btn_connect Connect 
  .btn__add__container
    a(href="#").btn__add +