header.header#header
  h1 Dashboard IoT 
    span
      a(href="https://xizuth.com/" target="_blank") by Xizuth 
  .input__container
    input(list="list-brokers" type="url" placeholder="s/broker.shiftr.io:443").input__broker#input-broker
    datalist#list-brokers
      option broker.shiftr.io:80
      option s/broker.shiftr.io:443
      option broker.hivemq.com:8000
      option broker.mqttdashboard.com:8000
      option test.mosquitto.org:8080
      option s/test.mosquitto.org:8081
    a.input__btn(href="#" ).btn_connect#btn-connect Connect
  .input__container
    label(for="username-broker").input__label Username
    input(type="text").input__broker#username-broker
    label(for="pwd-broker").input__label Password
    input(type="password").input__broker#pwd-broker
    label(for="client-id-broker").input__label ClientId
    input(type="text").input__broker#client-id-broker
  .header__note
    i Nota: The broker should support Websocket 
  .btn__add__container
    a(href="/").btn__add#add-widget + 